@font-face {
    font-family: 'LaneNarrowRegular';
    src: url('Lane/LANENAR_-webfont.eot');
    src: url('Lane/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lane/LANENAR_-webfont.woff') format('woff'),
         url('Lane/LANENAR_-webfont.ttf') format('truetype'),
         url('Lane/LANENAR_-webfont.svg#LaneNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LanePoshRegular';
    src: url('Lane/LANEPOSH-webfont.eot');
    src: url('Lane/LANEPOSH-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lane/LANEPOSH-webfont.woff') format('woff'),
         url('Lane/LANEPOSH-webfont.ttf') format('truetype'),
         url('Lane/LANEPOSH-webfont.svg#LanePoshRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.lane { font-family: 'LaneNarrowRegular' Helvetica san-serif; }
.lanePosh { font-family: 'LanePoshRegular' Helvetica san-serif; }